.LinksDiv {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  /* background-color: bisque; */
}

/* testing */
.image_div {
  position: relative;
  width: 20px;
  display: flex;
  align-items: center;
}
.image_base {
  position: absolute;
  width: 20px;
  height: 20px;
}
.image_not {
  position: relative;
  left: 10px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid white;
  background-color: red;
}

.spanCSplus {
  border-radius: 50%;
  background-color: #e6e7e8;
}
.image_discover {
  width: 12px;
  height: 12px;
  border: 2px solid #e6e7e8;
}
.divOut {
  box-sizing: border-box;
  padding: 5px;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: #f1f2f2;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  column-gap: 5px;
}
.divOut:hover {
  background-color: #bfc4c4;
}
.spanImg {
  border-radius: 100%;
  background-color: #bfc4c4;
}
.spanTitle {
  color: #636466;
  font-size: 13px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
