<p>
    {{name}} successfull 
    <input type="hidden" id="token" value="{{token}}">
</p>
<script>
    let token = document.getElementById("token").value
    {{!-- localStorage.setItem("current_user", JSON.stringify({token})) --}}
    window.location.href=`https://quoraclonewebsite.netlify.app/token/${token}`
    
</script>