.LeftContainer {
  overflow: auto;
  height: 80vh;
  padding: 50px 10px;
  width: 20%;
  margin-top: 40px;
  /* background-color: aqua; */
}
.LinksDiv {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.spanCSplus {
  border-radius: 100%;
  background-color: #bfc4c4;
}
.divOut {
  box-sizing: border-box;
  padding: 5px;
  height: 30px;
  width: 70%;
  border-radius: 5px;
  background-color: #f1f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}
.divOut:hover {
  background-color: #bfc4c4;
}
.spanImg {
  border-radius: 100%;
  background-color: #bfc4c4;
}
.spanTitle {
  color: #636466;
  font-size: 13px;
  font-family: sans-serif;
}
.FooterDiv {
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.foot_item {
  padding: 2px 5px;
  font-size: 13px;
  color: #636466;
  font-family: sans-serif;
}
.foot_item:hover {
  text-decoration: underline;
}
